/* 
    General Styles
*/
.card{
    display: inline-block;
    margin: 7px;
    }
a:link
{
text-decoration:none;
color: white;

}

a:visited {
    color: white;
}

body{
background-color: #1E1E1E}

button{
    padding: 20px;
}



